BODY
{
    BACKGROUND-COLOR: #FFFFFF;
    COLOR: #000000;
    FONT-FAMILY: 'Arial';
    FONT-SIZE: 12px;
}

.fondo
{
	BACKGROUND-COLOR: #ebebeb;
}
.cabtabla
{
	COLOR: #ff0000;
    FONT-FAMILY: 'Arial Black';
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    TEXT-ALIGN:center;
}

H1
{
    COLOR: #FF0000;
    FONT-FAMILY: 'Arial';
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    TEXT-ALIGN:left;
}

H2
{
    COLOR: #FF0000;
    FONT-FAMILY: 'Arial';
    FONT-SIZE: 10px;
    TEXT-ALIGN:center;

}
H3
{
    COLOR: #000000;
    FONT-FAMILY: 'Arial';
    FONT-SIZE: 10px;

}
H4
{
    COLOR: #000000;
    FONT-FAMILY: 'Arial Black';
    TEXT-TRANSFORM: capitalize;
    FONT-SIZE: 12px;
    FONT-STYLE: bold;
}
H5
{
   COLOR: #000000;
    FONT-FAMILY: 'Arial';
    FONT-SIZE: 12px;
}
H6
{
    COLOR: #000000;
    FONT-FAMILY: 'Arial';
    TEXT-TRANSFORM: capitalize;
    FONT-SIZE: 12px;
    FONT-STYLE: bold;
}

A:LINK {color: #0000FF;}
A:VISITED {color: #000080;}
A:HOVER {color: #FF0000;}
A:ACTIVE {color: #0000FF;}


img
{  border-style: none;
}

TABLE
{
	BACKGROUND-COLOR: #FFFFFF;
    COLOR: #000000;
    FONT-FAMILY: 'Arial';
    FONT-SIZE: 12px;
}
HR
{
	COLOR:#000000;
	ALIGN:center;
	size:3px;
}

td.encabezado
{
    COLOR: black;
    FONT-FAMILY: Arial, Helvetica;
    FONT-SIZE: 13px;
    FONT-WEIGHT: bolder
}

.verticales
{
	border-right: 1px solid black;
	border-bottom: 3px solid black;

}
.verticalesbotom
{
	border-bottom: 3px solid black;
}
.fondo
{
	BACKGROUND-COLOR: #ebebeb;
}
.cuadro
{
	border-right:  2px solid;
	border-bottom: 2px solid;
	border-top:    2px solid;
	border-left:   2px solid;
}
.especial
{

    COLOR: #000000;
    FONT-FAMILY: 'Arial';
    FONT-SIZE: 10px;
    FONT-STYLE: bold;
    TEXT-ALIGN:center;
}
.campos
{
	COLOR: #000000;
    FONT-FAMILY: 'Arial';
    FONT-SIZE: 10px;
}
.cabeceraTabla
{
	COLOR: #000000;
    FONT-FAMILY: 'Arial';
    FONT-SIZE: 12px;
    FONT-STYLE: bold;
    TEXT-ALIGN:center;
    BACKGROUND-COLOR: #CCCCCC;
    TEXT-TRANSFORM:capitalize;
    cellspacing:2;
}
.cabeceraTablaP
{
	COLOR: #FFFFFF;
    FONT-FAMILY: 'Arial';
    FONT-SIZE: 12px;
    FONT-STYLE: bold;
    TEXT-ALIGN:center;
    BACKGROUND-COLOR: #818181;
    TEXT-TRANSFORM:capitalize;
    cellspacing:2;
}
.mayusculas
{
	TEXT-TRANSFORM:uppercase;
}
.dentroTabla
{
	TEXT-TRANSFORM:capitalize;
	COLOR: #000000;
    FONT-FAMILY: 'Arial';
    FONT-SIZE: 12px;
    cellspacing:2;
}
.headred
{
	TEXT-TRANSFORM:capitalize;
	COLOR: #FF0000;
    FONT-FAMILY: 'Arial';
    FONT-SIZE: 10px;
    FONT-STYLE: bold;
}
.headblack
{
	TEXT-TRANSFORM:capitalize;
	COLOR: #000000;
    FONT-FAMILY: 'Arial';
    FONT-SIZE: 10px;
    FONT-STYLE: bold;
}
.headTable {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background-color: #e8e8e8;
	color: #000000
}



/********DAVID*******************/
.ATextittab2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-color: #ffffff
	size: 20px;
}

.ATextittab {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-color: #ffffff
}
.ATitulocolor {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ff0000;
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
}
.ATexencabezado {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}
.AEtiquetaDentro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-color: #f2f2f2;
	color: #000000;
}
.ATittabcenazu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-color: #e8e8e8;
	color: #000000
}
.ATituloTabla {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	background-color: #e8e8e8;
	text-align: center;
	text-indent: 7px
}
.ATextoRegularJustificado {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-align: justify
}
a.txt:link {
	color: #FFFFFF;
	font-size: 12px;
	text-decoration: underline
}
a.txt:visited {
	color: #FFFFFF;
	font-size: 12px;
	text-decoration: underline
}
a.txt:active {
	color: #FFFFFF;
	text-decoration: underline  ;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px
}
a.txt:hover {
	color: black;
	font-size: 12px;
	text-decoration: underline
}
.ALigaonce {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	background-color: red;
	margin: 10px;
	text-align: left;
	border-color: #a0a0a0;
	border-bottom-style: solid;
	border-right-style: solid;
	border-width: thin
}
.ATexnegro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: white;
	font-weight: bold;
	background-color: red;
	margin: 10px;
	border-bottom-style: solid;
	border-color: #a0a0a0;
	border-right-style: solid;
	text-align: right;
	border-width: thin
}
.ATextabdatobs {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	background-color: #EBEBEB
}
.ATextabdatcla {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	background-color: #FFFFFF
}
.ATextoResaltadoGrande {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vuItem{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10px;
		font-style: normal;
		font-weight: normal;
		color: #FFFFFF;
		text-align: right;
		background-color: #8F969C
	}
}
/********END DAVID**********************/
.tittabdat {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; background-color: #A4BEE4}
.textabconbol { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold}
.textabconrojo { font-family: Arial, Helvetica, sans-serif; font-size: 11px ; color: #FF0000}
.MenuSuperior {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; color: #000000; background-position: right bottom; font-weight: normal}
.TituloSecundario {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: normal; color: #FFFFFF; text-align: left; height: auto; width: auto; background-color: A2BBDA; text-indent: 10px}
.PiedePagina {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: normal; color: #8F969C}
.MensajeAdvertencia {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: normal; color: #000000; text-align: center; vertical-align: middle}
.TextoResaltado {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; font-style: normal; font-weight: bold; color: #CC6600}
.TextoRegular {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: normal; color: #000000}
.BienvenidoNombre {  font-family: "Times New Roman", Times, serif; font-size: 24px; font-style: normal; font-weight: normal; color: #5B6B77; text-align: left}
.TextoResaltadoGrandeRojo { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; font-weight: bold; text-align: center; vertical-align: middle ; color: #FF0000}
.TextoPequeno { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: normal; color: #000000 }
.TextoLiga { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: normal; color: #FF0000}
.TablaRegistro { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: normal; color: #000000; background-color: #EFEFEF; text-decoration: none }
.titpag {  font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: italic; font-weight: bold; color: #003366}
.tittabdat {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; background-color: #A4BEE4}
.textabref { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal}
.tittabcom { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold}
.texbarnavr {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #DE0018; text-decoration: none ; font-weight: bold}
.texfooter {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #0000CC}
.texconte {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; text-decoration: none}
.texliga {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #0000CC; text-decoration: underline}
.texbold {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; font-weight: bold}
.texayuda { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #003366; text-decoration: none ; font-style: italic; font-weight: bold}
.texbol14 { font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; font-weight: bold }
.portinspdf { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #999999; text-decoration: none }